p{

    color:rgb(114, 19, 19);
    font-size: 10vh; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

#keinPlan {

    width: 50vw;
    opacity: 50%;
    border-color:2px solid rgb(49, 9, 9);
}